[submodule "gawk"]
	path = gawk
	url = https://git.savannah.gnu.org/r/gawk.git
	branch = gawk-3.1-stable
[submodule "libwayne"]
	path = libwayne
	url = https://github.com/alegottu/libwayne.git
[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
